
body {
  font-family: 'Roboto', sans-serif;
  background-color: #F5F5F5;
  color: #212121;
  margin: 0;
  padding: 0 1rem;
  line-height: 1.6;
  transition: all 0.3s ease;
}


header, footer {
  background: #c62828;
  color: white;
  padding: 16px;
  text-align: center;

 
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

#FireFight{

width: 150px; 
  height: auto;
  margin-right: 20px; 
  


}


#EventsNavbar{

text-align: center;             
  max-width: 600px;               
  margin: 0 auto;                 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
              
  padding: 10px;                  
  border-radius: 8px;   



}

#NavBarMenuOption:hover,
#NavBarEmployeesOption:hover,
#NavBarVehicleOption:hover,
#NavBarEventsOption:hover,
#NavBarAIOption:hover{

background-color: #880000;
padding:10px 10px;
font-size: 15px;



}

button {
  margin-left: 10px;
}


#eventForm {
  width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  outline: 5px solid rgb(216, 216, 216);
  box-sizing: border-box;
}

#eventForm input,
#eventForm select,
#eventForm textarea {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 8px;
  font-size: 16px;
  border: 2px solid #aaa;
  border-radius: 6px;
  outline: none;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

#eventForm input:focus,
#eventForm select:focus,
#eventForm textarea:focus {
  border-color: #C62828;
}

table, th, td {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #CFD8DC;
  padding: 0.75rem;
  text-align: left;
}

th {
  background-color: #C62828;
  color: white;
}

tr:nth-child(even) {
  background-color: #F5F5F5;
}


#Map_text,
#Stats_text,
#Report_text {
  text-align: center;
  margin-top: 2rem;
}

.status-free {
  color: green;
  font-weight: bold;
}

.status-duty {
  color: orange;
  font-weight: bold;
}

.status-incident {
  color: red;
  font-weight: bold;
}

.status-free::before,
.status-duty::before,
.status-incident::before {
  content: '● ';
}




.dark header, .dark footer {
  background-color: #880000;
}






.loader {

  position:fixed;
  top: 0;
  left: 0;

  width:100vw;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  
  background-color: rgb(255, 244, 244);

  transition: opacity 0.75s, visibility 0.75s;

}

.loader-hidden {

  opacity: 0;
  visibility: hidden;

}

.loader::after {

  content: "";
  width: 75px;
  height:75px;

  border: 15px solid #dddddd;
  border-top-color:#b91111;
  border-radius: 50%;

  animation: loading 0.75s ease infinite;

}

@keyframes loading {

  from{
    transform: rotate(0turn);

  }

  to{

    transform:rotate(1turn);
  }

}